.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.calculator {
  display: grid;
  grid-template-columns: repeat(4, 50px);
}

.display{
  grid-column-start: 1;
  grid-column-end: 5;
  height: 40px;
  font-size: 30px;
  text-align: right;
  color: white;
  background-color: black;
  border: 1px solid lightgrey;
  padding-right: 10px;
}

.calculatorButton{
  height: 50px;
  color: white;
  background-color: black;
  border: 1px solid lightgrey;
  transition: ease 0.2s;
}

.calculatorButton:hover{
  color: black;
  background-color: lightgrey;
}

.calculatorButton-operator{
  border: 1px solid lightgrey;
  background-color: orange;
  transition: ease 0.2s;
}

.calculatorButton-operator:hover{
  background-color: gold;
}